// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import 'bootstrap/scss/functions';

// 2. Include any default variable overrides here
$primary: #132d44;
$secondary: #527e15;
$body-bg: #fff;
$body-color: hsl(0, 0%, 20%);
$border-radius: 8px;

// 3. Include remainder of required Bootstrap stylesheets (including any separate color mode stylesheets)
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/variables-dark';

// 4. Include any default map overrides here

// 5. Include remainder of required parts
@import 'bootstrap/scss/maps';
@import 'bootstrap/scss/mixins';
@import 'bootstrap/scss/root';

// 6. Optionally include any other parts as needed
@import 'bootstrap/scss/root';
@import 'bootstrap/scss/reboot';
@import 'bootstrap/scss/type';
@import 'bootstrap/scss/containers';
@import 'bootstrap/scss/helpers';
@import 'bootstrap/scss/transitions';
@import 'bootstrap/scss/utilities';
@import 'bootstrap/scss/grid';
@import 'bootstrap/scss/navbar';
@import 'bootstrap/scss/nav';
@import 'bootstrap/scss/dropdown';
@import 'bootstrap/scss/buttons';
// 7. Optionally include utilities API last to generate classes based on the Sass map in `_utilities.scss`
@import 'bootstrap/scss/utilities/api';

$padding: 20px;
$highlight-bg: #f0f0f0;

:root {
  // font-awesome colors
  --fa-primary-color: #132d44;
  --fa-secondary-color: #8fa2b3;
  --fa-secondary-opacity: 1;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  height: calc(60px + $padding * 2);
}

main {
  flex-grow: 1;
}

footer {
  background-color: $primary;
  color: #fff;
  margin-block-start: $padding * 2;

  > .container-fluid {
    padding-top: $padding * 2;
    padding-bottom: $padding * 2;
  }

  p {
    margin-bottom: 0;
  }

  a {
    color: #fff;
  }
}

h1,
h2,
h3,
h4,
h5 {
  color: lighten($primary, 20%);
  margin-block-end: 1rem;
}

h2,
h3,
h4 {
  margin-block-start: 1.2em;
}

p {
  margin-block-end: 1rem;
}

.btn {
  text-transform: uppercase;
}

.icon {
  font-size: 120px;
  filter: drop-shadow(0 0 20px #00000088);
  transform: rotate(15deg);
}

.navbar {
  margin-bottom: $padding * 2;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background-color: $body-bg;
  border-bottom: 1px solid rgba($primary, 0.2);
  box-shadow: 0 0 40px rgba($primary, 0.2);

  button.navbar-toggler {
    border: none;
  }

  @include media-breakpoint-down(lg) {
    .btn-primary {
      width: 100%;
      margin-left: 0 !important;
      margin-top: $padding;
      margin-bottom: $padding;
    }
  }
}

.hero-image {
  background-size: cover;
  background-position: center;
  height: 200px;
  margin-top: -$padding * 2;
  margin-bottom: $padding * 2;

  > .container {
    height: 100%;
    align-content: center;
  }

  .actions {
    margin-block-start: $padding * 2;

    .btn-primary {
      background-color: rgba($body-bg, 0.8);
      color: $primary;
      min-width: 210px;
      margin-left: $padding;
      margin-right: $padding;
    }
  }
}

.hero-image-large {
  height: max(30vw, 400px);
  background-position: center top;
}

.hero-title {
  h1 {
    color: #fff;
  }
}

.hero-description {
  color: rgba(#fff, 0.8);
}

section.highlight {
  background-color: $highlight-bg;
  width: calc(100vw - 17px);
  position: relative;
  margin-left: calc((100vw - 100%) / -2 + 8px);
  padding-top: $padding;
  padding-bottom: $padding;
  margin-block-start: $padding * 2;
  margin-block-end: $padding * 2;

  main > div.container > &:last-child {
    margin-block-end: $padding * -2;
  }
}

main
  > div.container
  > div.row
  > div.col-12
  > :last-child:is(section.highlight) {
  margin-block-end: $padding * -2;
}

.location {
  background-image: url('/images/weissenwolffstrasse-1-map.png');
  background-size: cover;
  background-position: 50% 50%;
  height: max(40vw, 600px);
  font-size: 14px;

  width: calc(100vw - 17px);
  position: relative;
  left: 0;
  border: 0;
  margin-block-start: $padding * 2;
  margin-block-end: $padding * -2 - 5px;
  margin-left: calc((100vw - 100%) / -2 + 8px);

  section.highlight + & {
    margin-top: $padding * -2;
  }

  > div {
    position: absolute;
    top: $padding;
    left: $padding;
    padding: $padding * 0.5 $padding;
    background-color: rgba(#fff, 0.9);
  }

  p {
    margin-bottom: 0;
    margin-block-end: 0;
  }
}

.comming-soon-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(#000, 0.5);
  z-index: 2000;
  backdrop-filter: blur(6px);

  h1 {
    font-size: 1.8rem;
  }

  .comming-soon-overlay-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: $padding * 2;
    border-radius: $border-radius;
  }
}
