---
const { title, description } = Astro.props;
import LinkButton from '@components/LinkButton.astro';
import { PHONE, EMAIL } from '../constants';
---

<section class="highlight schedule-appointment">
  <div class="container">
    <div class="row">
      <div class="col-12 offset-0 col-md-8 offset-md-2">
        <h2 class="text-center">{title ? title : 'Jetzt anfragen'}</h2>

        <p>
          {description && <div>{description}</div>}
          {
            !description && (
              <p>
                Sind Sie interessiert? Wir stehen Ihnen gerne für weitere Informationen oder einen Besichtigungstermin zur Verfügung. Kontaktieren Sie uns einfach per E-Mail unter <a href={'mailto:' + EMAIL}>{EMAIL}</a>{' '}
                oder telefonisch unter {PHONE}.
              </p>

              <p class="text-center actions">
                <a class="btn btn-secondary"
                    aria-current="page"
                    role="button"
                    href={'mailto:' + EMAIL}
                    target="_blank"
                    >Kontakt per Email</a>
              </p>
            )
          }
        </p>
      </div>

      <!--<div
        class="d-none d-md-flex col-12 col-md-6 justify-content-center align-items-center"
      >
        <i class="icon fa-sharp-duotone fa-solid fa-calendar-heart"></i>
      </div> -->
    </div>
  </div>
</section>
