---
import { EMAIL, PHONE } from '../../constants';
---

<div class="container-fluid">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-6 text-center text-md-start mt-4 mt-md-0">
        <p>
          Ordination Weißenwolffstrasse
          <br />
          Dr. med. Peter Huber
          <br />
          <a href={`mailto:${EMAIL}`}>{EMAIL}</a>
          <br />
          <a href={`tel:${PHONE}`}>{PHONE}</a>
          <br /><br />
          &copy; {new Date().getFullYear()} Dr. med. Peter Huber
        </p>
      </div>
      <div class="col-12 col-md-6 text-center text-md-start">
        <a href="/kontakt">Lage & Kontakt</a><br />
        <a href="/impressum">Impressum</a>
      </div>
    </div>
  </div>
</div>
